[Ll]ibrary/[Tt]emp/[Oo]bj/[Bb]uild/[Bb]uilds/[Ll]ogs/[Mm]emoryCaptures/AssetStoreTools*sysinfo.txtUserSettings/*.userprefs.vs/*.csproj*.sln*.user*.unityproj*.pidb*.svd*.pdb*.mdb*.opendb*.VC.db.idea/*.iml.vscode/Thumbs.dbDesktop.ini.DS_Store*~*.apk*.aab*.unitypackageLightmapSnapshot*LightingData.asset/ServerData/**/catalog.json**/catalog.hash.collabignore.collab/*.burst*.cache/.vs/FPS/CopilotIndices/0.2.1657.32929/*.db